html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { font: 13px normal Arial,sans-serif; margin: 0; }

input, button { box-sizing: border-box; margin: 0; }

.sect-title { margin-bottom: 20px !important; }

.g-add_new_form_btn { position: absolute; }
.form-distance_between_cities { margin-bottom: 1em; }
.form-with_add_btn { margin-left: 4em; }

.result { padding-bottom: 2em; }
.result-item { font-style: italic; margin: 0.5em 0; }

@media (max-width: 767px) {
	.form-group { display: block; }
}

/* ---------------------------- Bootstrap 3.3.7 --------------------------- */

@import "bootstrap-3.3.7/less/variables.less";
@import "bootstrap-3.3.7/less/type.less";
@import "bootstrap-3.3.7/less/mixins/text-emphasis.less";
@import "bootstrap-3.3.7/less/mixins/text-overflow.less";
@import "bootstrap-3.3.7/less/mixins/background-variant.less";
@import "bootstrap-3.3.7/less/list-group.less";
@import "bootstrap-3.3.7/less/mixins/list-group.less";
@import "bootstrap-3.3.7/less/mixins/border-radius.less";
@import "bootstrap-3.3.7/less/grid.less";
@import "bootstrap-3.3.7/less/mixins/grid.less";
@import "bootstrap-3.3.7/less/mixins/grid-framework.less";
@import "bootstrap-3.3.7/less/buttons.less";
@import "bootstrap-3.3.7/less/mixins/buttons.less";
@import "bootstrap-3.3.7/less/mixins/vendor-prefixes.less";
@import "bootstrap-3.3.7/less/mixins/tab-focus.less";
@import "bootstrap-3.3.7/less/mixins/opacity.less";
@import "bootstrap-3.3.7/less/forms.less";
@import "bootstrap-3.3.7/less/mixins/forms.less";
